{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Cambiar Contraseña{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-sm border-0">
                <div class="card-body p-5">
                    <h2 class="text-center fw-bold mb-4">Cambiar Contraseña</h2>
                    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="d-grid mt-4">
                            <button class="btn btn-primary" type="submit" name="action">Cambiar Contraseña</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}