{% extends 'panel/panel_base.html' %}
{% load crispy_forms_tags %}
{% block title %}Editar Reserva{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="info-card">
            <h3 class="mb-4">Revisar Reserva de: {{ object.usuario.get_full_name }}</h3>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="mt-4">
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    <a href="{% url 'panel:reserva_panel_list' %}" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}