{% extends 'panel/panel_base.html' %}
{% load crispy_forms_tags %}
{% block title %}{% if object %}Editar Servicio{% else %}Crear Servicio{% endif %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="info-card">
            <h3 class="mb-4">{% if object %}Editar Servicio{% else %}Crear Nuevo Servicio{% endif %}</h3>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="mt-4">
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    <a href="{% url 'panel:servicio_panel_list' %}" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}